* {
    background-color: rgb(145, 192, 133);
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
}

/* header/nav */
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation h1 {
    font-size: 40px;
}

/* about me */
#selfie {
    max-height: 200px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bio {
    width: 50%;
    justify-content: right;
}

/* my work */
.my-work {
    display: flex;
    flex-wrap: wrap;
    
}

.webpage {
    border: solid 5px rgb(131, 27, 105); 
    margin: 20px;
    padding: 20px; 
    width:250px;
    height: 100px;
}

.webpage:hover {
    opacity: 60%;
}

a:hover {
    text-decoration: underline;
}

.run-buddy {
    background-image: url(./images/run-buddy-screenshot.png);
    background-size:cover;
    width: 590px;
    height: 200px;
}

.horiseon {
    background-color: gray;
}

.dummy-one {
    background-color: pink;
}

.dummy-two {
    background-color: greenyellow;
}

.dummy-three {
    background-color: blue;
}

/* media queries */

@media screen and (max-width: 480px) {
    .webpage {
        width: 250px;
    }
}