* {
    background-color: rgb(145, 192, 133);
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
}

/* header/nav */

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation h1 {
    font-size: 50px;
}

.navigation nav ul li {
    font-size: 20px;
}

/* about me */
#selfie {
    max-height: 200px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bio {
    width: 50%;
    justify-content: right;
}

/* my work */
.my-work {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.webpage {
    border: solid 5px rgb(131, 27, 105); 
    margin: 20px;
    padding: 20px; 
    width:250px;
    height: 100px;
}

.webpage-text {
    width: 125px;
}

.webpage-text h3 {
    padding: 0px;
    margin: 0px; 
}

.webpage-text p {
    padding: 0px;
    margin: 0px; 
}

.webpage:hover {
    opacity: 60%;
}

a:hover {
    text-decoration: underline;
}

.run-buddy {
    background-image: url(./images/run-buddy-screenshot.png);
    background-size:cover;
    width: 590px;
    height: 200px;
}

.horiseon {
    background-image: url(./images/horiseon-screenshot.png);
    background-size: cover;
}

.dummy-one {
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
}

.dummy-two {
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
}

.dummy-three {
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
}

/* media queries */

@media screen and (max-width: 680px) {
    .webpage {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    #bio {
        min-width: 230px;
    }
}