* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(145, 192, 133);
}

a {
    text-decoration: none;
    color: black;
}

/* header/nav */

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation h1 {
    font-size: 50px;
}

.navigation nav ul li {
    font-size: 20px;
}

/* about me */
#selfie {
    max-height: 200px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bio {
    width: 50%;
    justify-content: right;
}

/* my work */

#my-work {
    padding: 30px;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.webpage {
    border: solid 5px rgb(131, 27, 105); 
    margin: 20px;
    padding: 20px; 
    width: 250px;
    height: 160px;
}

.webpage-text {
    width: 125px;
    background-color: rgb(131, 27, 105);
    opacity: 80%;
    color: white;
}

.webpage-text h3 {
    padding: 0px;
    margin: 0px; 
}

.webpage-text p {
    padding: 0px;
    margin: 0px; 
}

.webpage:hover {
    opacity: 60%;
}

a:hover {
    text-decoration: underline;
}

#movie-nerds {
    background-image: url();
    background-size:cover;
}

#weather-dashboard {
    background-image: url(./images/weather-dashboard-screenshot.png);
    background-size: cover;
}

#workday-scheduler {
    background-image: url(./images/workday-scheduler-screenshot.png);
    background-size: cover;
}

#coding-quiz {
    background-image: url(./images/coding-quiz-screenshot.png);
    background-size: cover;
}

#password-generator {
    background-image: url(./images/password-generator-screenshot.png);
    background-size: cover;
}


/* contact me */

#contact-me {
    padding: 30px;
    font-size: 20px;
}

/* media queries */

@media screen and (max-width: 680px) {
    .webpage {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    #bio {
        min-width: 230px;
    }
}